## Check the java version of your invironment

In [2]:
!java -version

java version "1.8.0_381"
Java(TM) SE Runtime Environment (build 1.8.0_381-b09)
Java HotSpot(TM) Client VM (build 25.381-b09, mixed mode, sharing)

### install tabula-py

In [3]:
# To be more precisely, it's better to use `{sys.executable} -m pip install tabula-py`
!pip install -q tabula-py

[notice] A new release of pip is available: 24.1.1 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
!pip install tabula-py[jpype]

Requirement already satisfied: tabula-py[jpype] in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (2.9.3)
Requirement already satisfied: pandas>=0.25.3 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from tabula-py[jpype]) (2.2.1)
Requirement already satisfied: numpy in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from tabula-py[jpype]) (1.26.4)
Requirement already satisfied: distro in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from tabula-py[jpype]) (1.9.0)
Requirement already satisfied: jpype1 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from tabula-py[jpype]) (1.5.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\appdata\roaming\python\python312\site-packages (from pandas>=0.25.3->tabula-py[jpype]) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from pandas>=0.25.3->tabula-py[jpype]) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from pandas>=0.25.3->tabula-py[jpype]) (2024.1)
Requirement already satisfied: packaging in c:\users\admin\appdata\roaming\python\python312\site-packages (from jpype1->tabula-py[jpype]) (23.2)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas>=0.25.3->tabula-py[jpype]) (1.16.0)

[notice] A new release of pip is available: 24.1.1 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

### Ceck the tabula working environment in your computer

In [4]:
import tabula

tabula.environment_info()

Python version:
    3.12.2 (tags/v3.12.2:6abddd9, Feb  6 2024, 21:26:36) [MSC v.1937 64 bit (AMD64)]
Java version:
    java version "1.8.0_381"
Java(TM) SE Runtime Environment (build 1.8.0_381-b09)
Java HotSpot(TM) Client VM (build 25.381-b09, mixed mode, sharing)
tabula-py version: 2.9.3
platform: Windows-10-10.0.19045-SP0
uname:
    uname_result(system='Windows', node='BAMAMOU', release='10', version='10.0.19045', machine='AMD64')
linux_distribution: ('', '', '')
mac_ver: ('', ('', '', ''), '')

### Example 
 First import required packages and read the data

In [61]:
import tabula
import pandas as pd

#pdf_path = "https://github.com/Bamamou/Exams_Guinea/blob/main/BEPC-2023.pdf"
pdf_path = "C:\\Users\\admin\\Documents\\GitHub\\Pyhton_Jupiter\\CL Coding Python\\BEPC2023.pdf"

dfs = tabula.convert_into(pdf_path, "output.csv", output_format="csv", lattice=True, pages='1')
df = pd.read_csv("output.csv", sep=',', header=1)

# read_pdf returns list of DataFrames
print(df)

         Ire  Rang   ex              Prénoms et Noms  \
0   IRE BOKE     1  NaN              KARAMADI DIALLO
1   IRE BOKE     2  NaN  HADJA MARIAMA DJELO\rDIALLO
2   IRE BOKE     3  NaN          MAMADOU BHOYE BALDE
3   IRE BOKE     4  NaN             ABDOUL KARIM SOW
4   IRE BOKE     5  NaN               MAMADOU DIALLO
5   IRE BOKE     6  NaN      MAMADOU LAMARANA DIALLO
6   IRE BOKE     6    X              DJENABOU TRAORE
7   IRE BOKE     6    X        FATOUMATA DIARAYE SOW
8   IRE BOKE     9  NaN             ABDOULAYE SIDIBE
9   IRE BOKE    10  NaN             ABDOULAYE SOUARE
10  IRE BOKE    11  NaN                ABDOULAYE SOW
11  IRE BOKE    12  NaN          MARIAMA KINDY BALDE
12  IRE BOKE    13  NaN         ABDOURAHAMANE DIALLO
13  IRE BOKE    14  NaN   FATOUMATA LAMARANA\rDIALLO
14  IRE BOKE    14    X             HABIBATOU CAMARA
15  IRE BOKE    16  NaN        MAMADOU BADIKO DIALLO
16  IRE BOKE    17  NaN                 ALSENY BARRY
17  IRE BOKE    18  NaN                  ISSIAGA BAH
18  IRE BOKE    19  NaN            SOULEYMANE DIALLO
19  IRE BOKE    20  NaN      FATOUMATA DIARAYE BARRY
20  IRE BOKE    21  NaN                 RAYMOND LENO
21  IRE BOKE    22  NaN         PIERRE CLAVER DRAMOU
22  IRE BOKE    22    X                   ELVIS LOUA
23  IRE BOKE    24  NaN              MAMOUDOU CAMARA
24  IRE BOKE    24    X           THIERNO HAWA BARRY

                       Centre     PV               Origine Mention
0                  ALPHA YAYA  11352          ACTION VIVRE   TBIEN
1          HADJA M'MAH CAMARA  10141                AMITIE   TBIEN
2          N'DAMA ELEMENTAIRE   6889           VICTOR HUGO   TBIEN
3                  CHRIST_ROI  10766                  TITO   TBIEN
4                 AMITIE_FRIA   9478      ABDOULAYE SOUARE   TBIEN
5            E.E_KASSONGONY I   2839                FILIMA   TBIEN
6                  CHRIST_ROI  10959                  TITO   TBIEN
7                 APPLICATION  12494  PÈRE LAURENT DENOUAL   TBIEN
8                 AMITIE_FRIA   9098      ABDOULAYE SOUARE   TBIEN
9                 AMITIE_FRIA   9099      ABDOULAYE SOUARE   TBIEN
10                 CHRIST_ROI  10759                  TITO   TBIEN
11        ARRASSOULOUL\rAKRAM   3882        DIARAYE DIALLO   TBIEN
12                 KARAMOKOBA   1813                   KPC   TBIEN
13                APPLICATION  12495  PÈRE LAURENT DENOUAL   TBIEN
14                AMITIE_FRIA   9370      ABDOULAYE SOUARE   TBIEN
15                AMITIE_FRIA   9470      ABDOULAYE SOUARE   TBIEN
16                     FILIMA   3195                FILIMA   TBIEN
17                 CHRIST_ROI  11080         NABY BANGOURA   TBIEN
18  IBRAHIMA KOUMBAMA\rDIALLO   4628       G.L.C_SANGAREDI   TBIEN
19                  GS TÖRÖDÖ   1185             GS SADABY   TBIEN
20                LES CASTORS   5907        CANDIDAT LIBRE   TBIEN
21                     UNESCO   5212        DIARAYE DIALLO   TBIEN
22                APPLICATION  12489  PÈRE LAURENT DENOUAL   TBIEN
23                    KOKO FA  11797         COLLEGE TOUBA   TBIEN
24  IBRAHIMA KOUMBAMA\rDIALLO   4654       G.L.C_SANGAREDI   TBIEN

### Print some section of the data

In [62]:
print(df['Centre'])  # Examns centers

0                    ALPHA YAYA
1            HADJA M'MAH CAMARA
2            N'DAMA ELEMENTAIRE
3                    CHRIST_ROI
4                   AMITIE_FRIA
5              E.E_KASSONGONY I
6                    CHRIST_ROI
7                   APPLICATION
8                   AMITIE_FRIA
9                   AMITIE_FRIA
10                   CHRIST_ROI
11          ARRASSOULOUL\rAKRAM
12                   KARAMOKOBA
13                  APPLICATION
14                  AMITIE_FRIA
15                  AMITIE_FRIA
16                       FILIMA
17                   CHRIST_ROI
18    IBRAHIMA KOUMBAMA\rDIALLO
19                    GS TÖRÖDÖ
20                  LES CASTORS
21                       UNESCO
22                  APPLICATION
23                      KOKO FA
24    IBRAHIMA KOUMBAMA\rDIALLO
Name: Centre, dtype: object

In [63]:
print(df['Origine'])   # the school of origines

0             ACTION VIVRE
1                   AMITIE
2              VICTOR HUGO
3                     TITO
4         ABDOULAYE SOUARE
5                   FILIMA
6                     TITO
7     PÈRE LAURENT DENOUAL
8         ABDOULAYE SOUARE
9         ABDOULAYE SOUARE
10                    TITO
11          DIARAYE DIALLO
12                     KPC
13    PÈRE LAURENT DENOUAL
14        ABDOULAYE SOUARE
15        ABDOULAYE SOUARE
16                  FILIMA
17           NABY BANGOURA
18         G.L.C_SANGAREDI
19               GS SADABY
20          CANDIDAT LIBRE
21          DIARAYE DIALLO
22    PÈRE LAURENT DENOUAL
23           COLLEGE TOUBA
24         G.L.C_SANGAREDI
Name: Origine, dtype: object

In [64]:
print(df['Prénoms et Noms'])   # Students' names

0                 KARAMADI DIALLO
1     HADJA MARIAMA DJELO\rDIALLO
2             MAMADOU BHOYE BALDE
3                ABDOUL KARIM SOW
4                  MAMADOU DIALLO
5         MAMADOU LAMARANA DIALLO
6                 DJENABOU TRAORE
7           FATOUMATA DIARAYE SOW
8                ABDOULAYE SIDIBE
9                ABDOULAYE SOUARE
10                  ABDOULAYE SOW
11            MARIAMA KINDY BALDE
12           ABDOURAHAMANE DIALLO
13     FATOUMATA LAMARANA\rDIALLO
14               HABIBATOU CAMARA
15          MAMADOU BADIKO DIALLO
16                   ALSENY BARRY
17                    ISSIAGA BAH
18              SOULEYMANE DIALLO
19        FATOUMATA DIARAYE BARRY
20                   RAYMOND LENO
21           PIERRE CLAVER DRAMOU
22                     ELVIS LOUA
23                MAMOUDOU CAMARA
24             THIERNO HAWA BARRY
Name: Prénoms et Noms, dtype: object